@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root {
    --ff: 'Poppins', sans-serif;
    --transition: all 0.3s linear;
    --clr-red: #ec3948;
    --clr-blue: #43c1fc;
    --clr-green: #39ec99;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cdcdcd;
    min-height: 100vh;
    font-family: var(--ff);
}

.wrap {
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 8rem;
    background: #222;
    color: #eee;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 1.2rem 2rem 1.8rem;
}

thead {
    background: #222;
    color: #eee;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 2rem 1.8rem;
}

.title {
    text-align: center;
    margin-bottom: .7rem;
}

.control {
    display: flex;
    justify-content: center;
}

#entry,
textarea {
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    display: block;
    border: 1px solid #eee;
    background: #222;
    color: #eee;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    flex: 1;
    font-family: var(--ff);
}

.btn {
    font-family: var(--ff);
    font-weight: bold;
}

.submit-btn {
    outline: none;
    border: 1px solid #eee;
    color: #222;
    background-color: #eee;
    font-size: .9rem;
    padding: 0.3rem 0.7rem;
    flex: 0 0 .5rem;
    cursor: pointer;
    transition: all .2s,
        color .2s;
}

.plus {
    display: none;
    transition: all ease-in-out 0.3s;
}

.submit-btn:hover {
    border: 1px solid #eee;
    background-color: #222;
    color: #eee;
}

.submit-btn:hover .add {
    display: none;
}

.submit-btn:hover .plus {
    display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btns a {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background:  #222;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background:  #222;
}

.btns a,
.btns,
a span {
    transition: 200ms;
}

.btns a .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
}

.btns a .icon {
    position: absolute;
    border-left: 1px solid #ffffff;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns a svg {
    width: 15px;
    fill: #eee;
}

.btns a:hover {
    background: #ff3636;
}
.btns .edit:hover {
    background: #1b6cbd;
}

.btns a:hover .text {
    color: transparent;
}

.btns a:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.btns a:focus {
    outline: none;
}

/* todo list*/